/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

table{
    width: 75%;
    margin: auto;
    text-align: center;
}

tbody tr:nth-of-type(odd) {
     background-color: #d6d6d6;
}

table th {
    position:sticky;
    top: 0;
}

tfoot {
    background-color: #90ee90;
}

#cash {
    color: green;
}

#total {
    color: green;
    font-weight: bold;
}
