{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <p>Stock Name:
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" type="text">
            </p>
        </div>
        <div class="mb-3">
            <p>Number of Shares:
            <input class="form-control mx-auto w-auto" id="shares" name="shares" type="number"></p>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}